.ant-modal-body,
.ant-modal-close-x {
  color: var(--color);
  background-color: var(--background);
  border: 0;
}

span {
  font: Open sans, sans-serif;
  font-size: 2rem;
  color: white;
}

.modal-container span {
  margin-bottom: 0;
  color: white;
  transition: all 0.2s;
}

.modal-container span:hover {
  color: rgb(87, 87, 255);
}

.modal-content {
  margin-top: 1rem;
  padding: 1rem;
}

.product-info {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}

.product-info img {
  justify-self: center;
  width: 10rem;
}

.product-text-info {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-text-info p {
  margin-bottom: 0;
  line-height: 1.4rem;
}

.product-text-info p:nth-child(3) {
  font-size: 1.2rem;
  line-height: 2rem;
  margin-bottom: 1rem;
}

.product-text-info button {
  width: fit-content;
  color: white;
  background-color: var(--dark-background);
  border: 1px solid var(--dark-background);
  border-radius: 0.2rem;
  padding: 0.2rem 0.4rem;

  transition: all 0.09s;
}

.product-text-info button:hover {
  border: 1px solid var(--dark-background);
  font-size: 0.9rem;
  background: red;
  color: white;
  filter: brightness(0.8);
}

.product-text-info a {
  width: fit-content;
  background: red;
  border: 1px solid red;
  color: white;
  border-radius: 0.2rem;
  padding: 0.2rem 0.4rem;
  transition: all 0.2s;
  line-height: normal;
}

.product-text-info a:hover {
  font-size: 1.2rem;
  /* color: var(--dark-background); */
  filter: brightness(10);
}

.product-description h2 {
  color: var(--text);
}