button {
  border: 1px solid var(--background);
  display: flex;
  background: var(--background);
  /* border-radius: 0.2rem; */
  padding: 0.2rem 0.4rem;
  font-size: 1rem;

  transition: all 0.09s;
}

button:hover:enabled {
  font-size: 1.5rem;
  background: red;
  border: none;
}

button:disabled {
  cursor: default;
  filter: brightness(0.5);
}